#morse-detector {
    width: 100%;
    height: 93vh;
    text-align: center;
    color: #D0D0D0;
    background-image: url('./wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.clock-part {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: bold;
    font-size: 20vw;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#clock-hours {
    width: 30vw;
    text-align: right;
}

#clock-colon {
    width: 10vw;
    text-align: center;
}

#clock-minutes {
    width: 30vw;
    text-align: left;
}

#mobile-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

#mouse-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}