#morse-detector {
    width: 1000px;
    height: 1000px;
    text-align: center;
    background-color: red;
}

.clock-part {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: bold;
    font-size: 72pt;
    display: inline-block;
}

#clock-hours {
    width: 140px;
    text-align: right;
}

#clock-colon {
    width: 20px;
    text-align: center;
}

#clock-minutes {
    width: 140px;
    text-align: left;
}